<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.nik.todo-board.server.root</string>

  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/python3</string>
    <string>/Users/nik/projects/todo-board/scripts/todo_server.py</string>
    <string>--site-dir</string>
    <string>/Users/nik/projects/todo-board/site</string>
    <string>--db-file</string>
    <string>/Users/nik/projects/todo-board/data/tasks.db</string>
    <string>--seed-csv</string>
    <string>/Users/nik/projects/todo-board/data/tasks.csv</string>
    <string>--port</string>
    <string>80</string>
  </array>

  <key>WorkingDirectory</key>
  <string>/Users/nik/projects/todo-board</string>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <true/>

  <key>StandardOutPath</key>
  <string>/tmp/todo-board-server-root.log</string>

  <key>StandardErrorPath</key>
  <string>/tmp/todo-board-server-root.err.log</string>
</dict>
</plist>
